@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  padding-top: 60px;
  text-rendering: optimizeLegibility;

  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Cardo', serif;*/
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
  font-variant-ligatures: common-ligatures; 
  -webkit-font-variant-ligatures: common-ligatures;

  /* Kerning */
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-kerning: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cardo', serif;
}

h1 {
  /*font-size: 0.5em;*/
}

a:link {
  text-decoration: none;
  /*font-size: 0.5em;*/
}
